.page-container {
	background: #282c34;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
}

.page-container__title {

}

.session-list-container {
	display: flex;
	width: 100%;
}

.session-list-container__left {
	border: 1px solid white;
	display: flex;
	flex-flow: column;
	min-width: 680px;
	padding: 10px;
	width: 680px;
}

.session-list-container__right {
	border: 1px solid white;
	padding: 10px;
	width: 100%
}

.session-list-item {
	align-items: center;
	border: 1px solid white;
	display: flex;
	margin-bottom: 6px;
	padding: 8px;
	width: 100%;
} 

.session-list-item__detail {
	margin-right: 14px;
}

.search-bar {
	width: 100%;
	margin-bottom: 10px;
}

.search-bar__input {
	color: black;
	width: 100%;
}

.session-detail-pane {
	padding: 10px;
}

.session-detail-pane__join-button {
	color: black;
	background: powderblue;
	padding: 3px;
}